html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
}

#background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 231, 248);
}

#navigation {
    position: fixed;
    display: flex;
    width: 5em;
    height: 100vh;
    background-color: rgb(0, 48, 181);
    justify-content: center;
    border-right: 5px solid gold;
}

.breakline {
    padding: 0;
    margin: 0;
    border: 1px inset black;
}

#logo {
    width: 3em;
    height: 3em;
    margin-top: 1em;
    border: 2px solid gold;
    border-radius: 5em;
    background-color: darkblue;
    padding: 2px;
}

#regtext{
    position: fixed;
    left: 2.5em;
    top : -5px;
    color: white;
    background-color: rgb(0, 48, 181);
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 4px solid gold;
    border-top: 4px solid gold;
    border-right: 4px solid gold;
    z-index: 1;
}

.icon {
    position: absolute;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.icon:hover {
    position: absolute;
    color: gold;
}

#user {
    top: 6em;
}

#school {
    top: 8em;
}

#strand {
    top: 10em;
}

#picture {
    top: 12em;
}

#back {
    position: absolute;
    color: white;
    font-size: 2em;
    cursor: pointer;
    bottom: 1em;
}

#back:hover {
    color: red;
}

#PreviousSchool {
    width: 98.7vw;
    height: 100vh;
    background-color: rgb(225, 231, 248);
}

#Strand {
    width: 98.7vw;
    height: 100vh;
    background-color: rgb(225, 231, 248);
}

#Picture {
    width: 98.7vw;
    height: 100vh;
    background-color: rgb(225, 231, 248);
}

#information {
    position: static;
    position: absolute;
    margin-left: 17em;
    top: 11em;
    width: 10em;
    height: 4em;
    background-color: rgb(41, 41, 41);
    border-radius: 1em;
    z-index: 2;
    opacity: 0%;
}

.ShowInformation {
    animation: information 0.5s ease-in-out;
}

@keyframes information {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
    
}

#text {
    text-align: center;
    color: white;
    margin-top: 20px;
}


/*TRANSITION___________________________*/

#transition {
    position: absolute;
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    border-left: 0.6em solid gold;
    background-color: rgb(0, 48, 181);
    z-index: 3;
    display: block;
    transform-origin: right;
    animation: transition_scale 1s ease-in reverse;
}

@keyframes transition_scale {
    0% {
        width: 0vw;
    }

    50% {
        width: 100vw;
    }
    
    100% {
        height: 100vh;
    }
}

.title {
    position: absolute;
    color: white;
    right: 0;
    margin-right: 1em;
    background-color: rgb(0, 48, 181) ;
    padding-left: 20px ;
    padding-right: 20px ;
    border-radius: 1em;
    border: 5px gold solid;
    box-shadow: 0px 0px 20px rgba(245, 0, 0, 0.708);
}

/*FORM____________________*/
#eye {
    position: absolute;
    color: gray;
    margin-left: 41.3em;
    margin-top: 11.7em;
    font-size: 1.5em;
    cursor: pointer;
}

#eye:hover {
    color: limegreen;
}

#form{
    position: absolute;
    display: flex;
}

#form2{
    display: flex;
}

#Pschool {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7em;
    color: white;
    margin-left: 22em;
    background-color: rgb(0, 48, 181) ;
    width: 40em;
    height: 13em;
    border-radius: 0.8em;
    border: 3px solid gold;
    align-items: center;
    gap: 15px;
    margin-bottom: 44.5vh;
}


#name {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7.5em;
    color: white;
    margin-left: 16em;
    background-color: rgb(0, 48, 181) ;
    width: 25em;
    height: 25em;
    border-radius: 0.8em;
    border: 3px solid gold;
    align-items: center;
    gap: 15px;
}

#email {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7.5em;
    color: white;
    margin-left: 43em;
    background-color: rgb(0, 48, 181) ;
    width: 25em;
    height: 13em;
    border-radius: 0.8em;
    border: 3px solid gold;
    align-items: center;
    gap: 15px;
}

#address {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 21.5em;
    color: white;
    margin-left: 43em;
    background-color: rgb(0, 48, 181) ;
    width: 25em;
    height: 11em;
    border-radius: 0.8em;
    border: 3px solid gold;
    align-items: center;
    gap: 15px;
}

.icons{
    position: absolute;
    color: white;
    font-size: 2em;
    left: 11.3em;
    margin-top: 0.8em;
}

#icon2 {
    right: -50px;
}

#emails {
    left: 2.7em;
}

#emails1 {
    left: 9em;
}

.input {
    width: 20em;
    height: 2em;
    text-align: center;
}

.email{
    width: 20em;
    height: 2em;
    text-align: center;
}

#bday{
    position: absolute;
    color: rgba(255, 255, 255, 0.833);
    bottom: 13px;
    font-size: 10px;
}

#school1 {
    margin-left: 17.5em;
}

#school2 {
    left: 12.3em;
}

#LRN {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 21.5em;
    color: white;
    margin-left: 42.5em;
    background-color: rgb(0, 48, 181) ;
    width: 19.5em;
    height: 11em;
    border-radius: 0.8em;
    border: 3px solid gold;
    align-items: center;
    gap: 15px;
}

#Graduated {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 21.5em;
    color: white;
    margin-left: 22em;
    background-color: rgb(0, 48, 181) ;
    width: 19.5em;
    height: 11em;
    border-radius: 0.8em;
    border: 3px solid gold;
    align-items: center;
    gap: 15px;
}

#lrn {
    left: 2.4em;
}

#lrn1 {
    left: 6.35em;
}